header {
  display: inline;
  justify-content: center;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Arial Black";
  font-style: normal;
  font-weight: 400;
  border: solid lightblue 4px;
   border-radius: 200px / 18px;
   height: 60px;
   background-color: #F0F8FF;
   background-image: -webkit-linear-gradient(#F0F8FF,#00FFFF);
}
.logo {
  position: absolute;
  margin-top: 11px;
  margin-left: 7.5%;
  height: 50px;
  width: 50px;
  border: none;
}
section {
  margin-top: 25px;
}
img {
  height: 175px;
  width: 175px;
  border: solid 2px black;
}
#images{
  display: flex;
  justify-content: space-around;
  background-color: white;
  background-image: -webkit-linear-gradient(#00FA9A,#F0F8FF);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
#submitResults{
  display: flex;
  justify-content: center;
  margin: auto;
  align: top;
}
#imageOne {
  cursor: pointer;
}
#imageTwo {
  cursor: pointer;
}
#imageThree {
  cursor: pointer;
}
.text {
  margin-left: 10%;
}
#results{
  display: flex;
  justify-content: center;
  margin: auto;
}
